.page-404-cntent-cntlr .page-bedankt-box-bg{
	background: rgba(255, 236, 235, 0.79);
}
.page-404-cntent-cntlr .page-bedankt-box-border{
	border: 1px solid #D9534F
}

/*start responsive*/
@media (max-width: 575px){
	.page-404-cntent-cntlr .page-bedankt-box-title{
		font-weight: 400;
		line-height: 1.1;
	}
}
@media(max-width: 479px){
	.page-404-cntent-cntlr .page-bedankt-box-title br{
		display: none;
	}
}