.footer-wrp{

}
.ftr-top{
	margin-bottom: 21px;
	position: relative;
}
.ftr-right-angle{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}
.ftr-lft-bg{
	width:  50.67%;
	background: #F5F9F6;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
.ftr-lft-bg-angle{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	border-right: 267px solid #fff;
	border-top: 454px solid transparent;
	width: 203px;
	height: 100%;
}
.home .ftr-lft-bg-angle{
	border-right: 267px solid #FEFEFE;
}
.ftr-top-cntlr{
	display: flex;
	flex-wrap: wrap;
	padding-top: 80px;
	padding-bottom: 70px;
}
.ftr-col{
	padding-right: 10px;
	width: 100%;
}
.ftr-col-01{
	max-width: 23.579%;
}
.ftr-col-02{
	max-width:  33.618%;
}
.ftr-col-03{
	max-width: 42.801%;
}
.fl-h6.ftr-col-title{
	margin-bottom: 40px;
}
.color-green{
	color: #36D56B;
}
.color-yellow{
	color: #D29500;
}
.ftr-col:last-of-type{
	padding-right: 0;
}
.ftr-menu{

}
.ftr-menu ul{
	margin: -7px 0;
}
.ftr-menu ul li{
	font-size: 16px;
	line-height: 1;
	padding-top: 7px;
	padding-bottom: 7px;
}
.ftr-menu-d2.ftr-menu ul{
	display: flex;
	flex-wrap: wrap;
}
.ftr-menu-d2.ftr-menu ul li{
	width: 50%;
}
.ftr-menu-d2.ftr-menu ul li:nth-child(2n+1){
	padding-right: 32px;
}
.ftr-menu ul li a{
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	letter-spacing: -0.02em;
	color: #4C5D5B;
	word-wrap: normal;
}
.ftr-menu ul li a:hover{
	color: #36D56B;
}
.ftr-logo{

}
.ftr-logo a{
	display: inline-block;
}
.ftr-btm-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.ftr-copyright{
	width: 100%;
	max-width:  21.94%;
	padding-right: 10px;
}
.ftr-copyright p{
	margin-bottom: 0;
	font-size: 14px;
	color: #859391;
	line-height: 1;
}
.ftr-btm-mdl{
	width: 100%;
	max-width:  58.98%;
	padding-right: 10px;
	display: flex;
	align-items: center;
	background: #f9f9f9;
	position: relative;
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 100px;
	padding-right: 130px;
}
.ftr-btm-mdl-after{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	border-right: 65px solid #fff;
	border-top: 177px solid transparent;
	width: 65px;
	height: 100%;
}
.home .ftr-btm-mdl-after{
	border-right: 65px solid #FEFEFE;
}
.ftr-btm-mdl-before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	border-left: 65px solid #fff;
	border-bottom: 177px solid transparent;
	width: 65px;
	height: 100%;
}
.home .ftr-btm-mdl-before{
	border-left: 65px solid #FEFEFE;
}
.ftr-btm-mdl-logo{
	width: 100%;
	max-width:  35.30%;
	text-align: center;
}
.ftr-btm-mdl-logo a{
	display: inline-block;
}
.ftr-btm-mdl-rgt{
	width: 100%;
	max-width:  64.70%;
}
.ftr-btm-mdl-rgt-hdr{
	margin-bottom: 7px;
}
.ftr-btm-mdl-rgt-hdr ul{
	display: flex;
	align-items: center;
	margin: 0 -17px;
}
.ftr-btm-mdl-rgt-hdr ul li{
	padding: 0 17px;
}
.ftr-btm-mdl-rgt-desc p{
	font-size: 12px;
	line-height: 1.4;
	color: #4C5D5B;

}
.ftr-btm-mdl-rgt-desc p:last-of-type{
	margin-bottom: 0;
}
.ftr-developed-by{
	width: 100%;
	max-width: 19.06%;
	
}
.ftr-developed-by p{
	margin-bottom: 0;
	color: #36D56B;
	line-height: 1;
	font-size: 14px;
}
.ftr-developed-by p a{
	display: inline-block;
	color: #859391;
	font-weight: 400;
}
.ftr-developed-by p a:hover{
	color: #36D56B;
	letter-spacing: initial;
}