.footer-wrp{

}
.ftr-top{
	margin-bottom: 21px;
	position: relative;
}
.ftr-right-angle{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}
.ftr-right-angle i{
	display: inline-block;
}
.ftr-lft-bg{
	width:  50.67%;
	background: #F5F9F6;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
.ftr-lft-bg-angle{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	border-right: 200px solid #fff;
	border-top: 454px solid transparent;
	width: 203px;
	height: 100%;
}
.home .ftr-lft-bg-angle{
	border-right: 200px solid #FEFEFE;
}
.ftr-top-cntlr{
	display: flex;
	flex-wrap: wrap;
	padding-top: 80px;
	padding-bottom: 70px;
}
.ftr-col{
	padding-right: 10px;
	width: 100%;
}
.ftr-col-01{
	max-width: 23.579%;
}
.ftr-col-02{
	max-width:  33.618%;
}
.ftr-col-03{
	max-width: 42.801%;
}
.fl-h6.ftr-col-title{
	margin-bottom: 40px;
}
.color-green{
	color: #36D56B;
}
.color-yellow{
	color: #D29500;
}
.ftr-col:last-of-type{
	padding-right: 0;
}
.ftr-menu{

}
.ftr-menu ul{
	margin: -7px 0;
}
.ftr-menu ul li{
	font-size: 16px;
	line-height: 1;
	padding-top: 7px;
	padding-bottom: 7px;
}
.ftr-menu-d2.ftr-menu ul{
	display: flex;
	flex-wrap: wrap;
}
.ftr-menu-d2.ftr-menu ul li{
	width: 50%;
	font-size: 13px;
}
.ftr-menu-d2.ftr-menu ul li:nth-child(2n+1){
	padding-right: 32px;
}
.ftr-menu ul li a{
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	letter-spacing: -0.02em;
	color: #4C5D5B;
	word-wrap: normal;
	text-decoration: none;
}
.ftr-menu ul li a:hover{
	color: #36D56B;
}
.ftr-logo{

}
.ftr-logo a{
	display: inline-block;
}
.ftr-btm-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.ftr-copyright{
	width: 100%;
	max-width:  21.94%;
	padding-right: 10px;
}
.ftr-copyright p{
	margin-bottom: 0;
	font-size: 14px;
	color: #859391;
	line-height: 1;
}
.ftr-btm-mdl{
	width: 100%;
	max-width:  58.98%;
	padding-right: 10px;
	display: flex;
	align-items: center;
	background: #f9f9f9;
	position: relative;
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 100px;
	padding-right: 130px;
}
.ftr-btm-mdl-after{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	border-right: 65px solid #fff;
	border-top: 177px solid transparent;
	width: 65px;
	height: 100%;
}
.home .ftr-btm-mdl-after{
	border-right: 65px solid #FEFEFE;
}
.ftr-btm-mdl-before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	border-left: 65px solid #fff;
	border-bottom: 177px solid transparent;
	width: 65px;
	height: 100%;
}
.home .ftr-btm-mdl-before{
	border-left: 65px solid #FEFEFE;
}
.ftr-btm-mdl-logo{
	width: 100%;
	max-width:  35.30%;
}
.ftr-btm-mdl-logo a{
	display: inline-block;
}
.ftr-btm-mdl-rgt{
	width: 100%;
	max-width:  64.70%;
}
.ftr-btm-mdl-rgt-hdr{
	margin-bottom: 7px;
}
.ftr-btm-mdl-rgt-hdr ul{
	display: flex;
	align-items: center;
	margin: 0 -17px;
}
.ftr-btm-mdl-rgt-hdr ul li{
	padding: 0 17px;
}
.ftr-btm-mdl-rgt-desc p{
	font-size: 12px;
	line-height: 1.4;
	color: #4C5D5B;

}
.ftr-btm-mdl-rgt-desc p:last-of-type{
	margin-bottom: 0;
}
.ftr-developed-by{
	width: 100%;
	max-width: 19.06%;
	
}
.ftr-developed-by p{
	margin-bottom: 0;
	color: #36D56B;
	line-height: 1;
	font-size: 14px;
}
.ftr-developed-by p a{
	display: inline-block;
	color: #859391;
	font-weight: 400;
	text-decoration: none;
}
.ftr-developed-by p a:hover{
	color: #36D56B;
	letter-spacing: initial;
}


/*responsive*/
@media(max-width: 1699px){

}
@media(max-width: 1399px){
	.ftr-right-angle i svg{
		max-width: 100px!important;
		height: auto!important;
	}
	.ftr-btm-mdl{
		padding-top: 22px;
		padding-bottom: 22px;
		padding-left: 85px;
		padding-right: 112px;
	}
}
@media(max-width: 1299px){
	.ftr-col-01 {
		max-width: 21.579%;
	}
	.ftr-col-02 {
		max-width: 31.618%;
	}
	.ftr-col-03 {
		max-width: 42.801%;
	}
	.ftr-menu-d2.ftr-menu ul li:nth-child(2n+1) {
		padding-right: 20px;
	}
}
@media(max-width: 1199px){
	.ftr-top-cntlr{
		padding-top: 70px;
		padding-bottom: 60px;
	}

	.ftr-col-01 {
		max-width: 20%;
	}
	.ftr-col-02 {
		max-width: 28%;
	}
	.ftr-col-03 {
		max-width: 50%;
	}
	.ftr-right-angle i svg{
		max-width: 80px!important;
	}
	.ftr-logo a{
		max-width: 100px;
	}
	.ftr-btm-mdl {
		padding-left: 70px;
		padding-right: 80px;
	}
	.ftr-copyright{
		max-width: 26%;
	}
	.ftr-btm-mdl{
		max-width: 50%;
	}
	.ftr-developed-by{
		max-width: 24%;
	}
	.ftr-btm-mdl-logo a{
		max-width: 90px;
	}
	.ftr-btm-mdl-rgt-desc p{
		font-size: 10px;
	}

}
@media(max-width: 991px){
	.ftr-top-cntlr{
		padding-top: 60px;
		padding-bottom: 50px;
		padding-right: 10px;
	}
	.ftr-lft-bg{
		width: 48.67%;
	}
	.ftr-lft-bg-angle{
		border-right-width: 130px!important;
	}
	.ftr-copyright{
	    max-width: 24%;
	}
	.ftr-developed-by {
		max-width: 26%;
	}
	.ftr-btm-mdl {
		padding-left: 53px;
		padding-right: 50px;
	}
	.ftr-btm-mdl-logo{
		padding-right: 15px;
	}
	.ftr-btm-mdl-rgt-hdr ul{
		margin: 0 -10px;
	}
	.ftr-btm-mdl-rgt-hdr ul li{
		padding: 0 10px;
	}
	.ftr-logo a{
		max-width: 90px;
	}
	.ftr-col-01 {
		max-width: 22%;
	}
	.ftr-col-02 {
		max-width: 26%;
	}
	.ftr-col-03 {
		max-width: 50%;
	}
	.ftr-right-angle i svg{
		max-width: 50px!important;
	}
	.ftr-menu ul li a{
		font-size: 14px;
	}
}
@media(max-width: 767px){
	.ftr-top-cntlr{
		padding-top: 38px;
		padding-right: 0;
		padding-bottom: 65px;
	}

	.ftr-col-01 {
		max-width: 100%;
		text-align: center;
		margin-bottom: 80px;
	}
	.ftr-col-02 {
		max-width: 100%;
		text-align: center;
		
	}
	.ftr-col-03 {
		max-width: 100%;
		text-align: center;
	}
	.ftr-logo a{
		max-width: 118px;
	}
	.ftr-lft-bg{
		width: 100%;
		height: 193px;
	}
	.ftr-lft-bg-angle{
		/*border-right-width: 80px!important;*/
		width: 80px;
		height: 193px;
	}
	.ftr-col{
		padding-right: 0;
	}
	.ftr-right-angle i svg {
		max-width: 128px!important;
	}
	.ftr-menu-d2.ftr-menu ul{
		display: block;
	}
	.ftr-menu-d2.ftr-menu ul li{
		width: 100%;
		display: block;
	}
	.ftr-menu-d2.ftr-menu ul li:nth-child(2n+1){
		padding-right: 0;
	}
	.ftr-menu ul li a{
		font-size: 16px;
	}
	.ftr-menu-d2.ftr-menu{
		display: none;
	}
	.ftr-menu{
		/*display: none;*/
		margin-bottom: 50px;
	}

	.fl-h6.ftr-col-title{
		margin-bottom: 25px;
		position: relative;
		color: #D29500!important;
		padding-right: 23px;
		display: inline-block;
		line-height: 1;
	}
	.fl-h6.ftr-col-title:after{
		content: "";
		position: absolute;
		background-image: url('../images/arrow-bottom.png');
		width: 14px;
		height: 8px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		right: 0;
		top: 6px;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.fl-h6.ftr-col-title.arrow-rotate:after{
		transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
	}
	.ftr-top{
		margin-bottom: 18px;
	}
	.ftr-copyright{
		order: 2;
		max-width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}
	.ftr-btm-mdl{
		order: 1;
		max-width: 100%;
		background: transparent;
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 32px;
		display: block;
		position: relative;
		margin-bottom: 30px;
	}
	.ftr-btm-mdl:after{
		position: absolute;
		content: "";
		bottom: 0;
		background: #F5F9F6;
		left: 0;
		right: 0;
		height: 5px;
	}
	.ftr-btm-mdl-logo{
		max-width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.ftr-btm-mdl-rgt{
		margin: 0 auto;
		max-width: 100%;
		text-align: center;
	}
	.ftr-btm-mdl-rgt-hdr{
		margin-bottom: 20px;
	}
	.ftr-btm-mdl-rgt-desc p {
		font-size: 12px;
	}
	.ftr-btm-mdl-rgt-hdr ul{
		justify-content: center;
	}
	.ftr-developed-by{
		order: 3;
		max-width: 100%;
		text-align: center;
		margin-bottom: 38px;
	}
}
@media(max-width: 479px){
	.ftr-right-angle i svg {
		max-width: 90px!important;
	}
}