.hm-hdr-bnr-cntlr{
	position: relative;
}
.left-angle{
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	z-index: 10;
	display: block;
	width: 263px;
}
.left-angle i{
	display: block;
}
.left-angle i svg{
	width: 100%!important;
	height: auto;
}
.right-sqr{
	width: 57.96%;
	height: 953px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	content: "";
	background: rgba(218, 236, 224, 0.34);
}
.right-angle{
	width: 57.96%;
	height: 953px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	content: "";
    border-right: 767px solid rgba(218, 236, 224, 0.34);
    border-top: 454px solid transparent;
}

.page-right-sqr{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	background: rgba(218, 236, 224, 0.34);
}
.page-right-angle{
	height: 200px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	content: "";
    border-right: 178px solid rgba(218, 236, 224, 0.34);
    border-top: 140px solid transparent;
}

.header{

}
.header-inr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 0;
}
.hdr-lft{
	position: relative;
	z-index: 11;
}
.logo{

}
.logo a{
	display: inline-block;
}
.logo a img{
	max-height: 128px;
	width: auto;
}
.hdr-rgt{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	z-index: 10;
}
.hdr-menu{

}


nav.main-nav ul li a{
	display: inline-block;
	font-weight: 500;
	line-height: 1;
	letter-spacing: -0.02em;
	color: #4C5D5B;
	text-decoration: none;
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 10px;
	margin: 0 -25px;
}
nav.main-nav > ul > li{
	position: relative;
	padding: 0 25px;
}
nav.main-nav > ul > li > a{
	font-size: 20px;
	padding-bottom: 10px;
}
nav.main-nav > ul > li.hdr-menu-btn{
	margin-top: -10px;
}
nav.main-nav > ul > li.hdr-menu-btn > a{
	display: inline-block;
	vertical-align: baseline;
	width: 150px;
	position: relative;
	color: #fff;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	padding: 14px 20px;
	letter-spacing: -0.02em;
	font-weight: 500;
	border: 1px solid #239C4B;
	text-transform: capitalize;
}
nav.main-nav > ul > li.hdr-menu-btn > a:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #36D56B;
    z-index: -1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
nav.main-nav > ul > li.hdr-menu-btn > a:hover{
	color: #fff;
}
nav.main-nav > ul > li.hdr-menu-btn > a:hover:after{
	top: 0;
    left: 0;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a,
nav.main-nav > ul > li.current-menu-item > a,
nav.main-nav > ul > li > a:hover{
	color: #36D56B;
}
nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 15;
    width: 200px;
    padding: 0 0 0 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    padding: 10px 0 10px 25px;
    line-height: 1;
    display: block;
    position: relative;
    border-bottom: 1px solid #36D56B;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
   	font-size: 16px;
    position: relative;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a{
	color: #36D56B;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    opacity: 0;
    background: #36D56B;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after {
    height: 100%;
    opacity: 1;
}




.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}

.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}




.hdr-btn{
	margin-left: 50px;
}
.hdr-lang-cntlr{
	margin-left: 50px;
}
.hdr-lang{
	
}
.hdr-lang ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.hdr-lang ul li{
	position: relative;
	padding: 0 15px;
}
.hdr-lang ul li:after{
	position: absolute;
	content: "";
	margin-top: -1px;
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-webkit-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	background-image: url('../images/slash-icon.png');
	width: 10px;
	height: 14px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
.hdr-lang ul li:last-child:after{
	content: none;
	display: none;
}
.hdr-lang ul li a{
	display: inline-block;
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	letter-spacing: -0.02em;
	color: #4C5D5B;
	text-decoration: none;
}.hdr-lang ul li.active a,
.hdr-lang ul li a:hover{
	color: #D29500;
}
.hdr-lang ul li.active a{
	font-weight: 800;
}



/*huamberger*/
.hamburger-cntlr{

}
.hamburger-icon-wrap{
	width: 53px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #249b4b;
	position: relative;
	cursor: pointer;
}
.hamburger-icon-wrap:after{
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 100%;
	height: 100%;
	background: #36D56B;
	z-index: -1;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.hamburger-icon-wrap:hover{
	top: 0;
	left: 0;
}
.hamburger-icon {
    width: 24px;
    height: 18px;
    position: relative;
}
.hamburger-icon span {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 3.5px;
    border-radius: 5px;
    background: #fff;
}
.hamburger-icon span:nth-child(2) {
    top: 7px;
}
.hamburger-icon span:nth-child(3) {
    top: 14px;
}
.allWork .hamburger-icon span:nth-child(1) {
    top: 7px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.allWork .hamburger-icon span:nth-child(2) {
    display: none;
    content: none;
}
.allWork .hamburger-icon span:nth-child(3) {
    top: 7px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}










body.allWork {
    overflow: hidden!important;
}
.allWork .xs-mobile-menu {
    right: 0;
    opacity: 1;
    z-index: 99999;
    width: 100%;
}
.xs-mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background: #fff;
    width: 0;
    z-index: 99999;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 136px;
    height: 100%;
    max-width: 375px;
    width: 100%;
    padding-bottom: 172px;
    padding-left: 20px;
    padding-right: 20px;
}
.xs-mbl-hdr {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background: #fff;
}
.xs-menu {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
}
.xs-mbl-btm {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 20px 20px 25px 20px;
    background: #fff;
}
.xs-mbl-hdr .left-angle{
	width: 80px;
}

/*sticky header*/
.header-sticky{
	position: fixed;
	left: 0;
	right: 0;
	top: -76px;
	background: #fff;
	transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	z-index: 999;
	opacity: 0;
box-shadow: 0px 9px 20px -12px rgba(221,218,218,0.75);
-webkit-box-shadow: 0px 9px 20px -12px rgba(221,218,218,0.75);
-moz-box-shadow: 0px 9px 20px -12px rgba(221,218,218,0.75);
}
.header-sticky.fixed-hdr{
	top: 0;
	opacity: 1;
	transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
}
.sticky-header-cntlr .logo a img{
	max-width: 80px;
}
.page-right-sqr-fixed {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background: rgba(218, 236, 224, 0.34);
}
.page-right-angle-fixed {
    height: 118px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    content: "";
    border-right: 140px solid rgba(218, 236, 224, 0.34);
    border-top: 140px solid transparent;
}


.page-left-sqr-fixed {
    position: absolute;
    top: 0;
    left: 0;
    bottom:  0;
    z-index: 5;
    width: 150px;
    background: #fff2d4;
}
.page-left-angle-fixed {
    height: 118px;
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 5;
    border-left: 80px solid #fff2d4;
    border-bottom: 140px solid transparent;
}

/*responsive*/
@media(max-width: 1699px){
	.logo a img{
		max-height: 100px;
		width: auto;
	}
	.left-angle{
		width: 130px;
	}
	.right-angle{
		border-right-width: 570px;
	}
	.page-left-sqr-fixed{
		width: 35px;
	}
	.page-left-angle-fixed{
		left: 35px;
		border-left-width: 55px;
	}
}

@media(max-width: 1399px){
	.left-angle{
		width: 80px;
	}
	
	/*.right-angle{
		border-right-width: 570px;
	}*/
	

}


@media(max-width: 1299px){
	.logo a img{
		max-height: 70px;
		width: auto;
	}
	.left-angle{
		width: 20px;
	}
	.page-left-sqr-fixed {
	    width: 150px;
	}
	.page-left-angle-fixed{
		left: 150px;
		border-left-width: 60px;
	}
}
@media(max-width: 1199px){
	.right-angle{
		border-right-width: 400px;
	}
	.hdr-lang-cntlr{
		margin-left: 30px;
	}
	nav.main-nav > ul{
		margin: 0 -15px;
	}
	nav.main-nav > ul > li{
		padding: 0 15px;
	}
	.page-left-sqr-fixed {
	    width: 140px;
	}
	.page-left-angle-fixed{
		left: 140px;
		border-left-width: 55px;
	}
}
@media(max-width: 991px){
	.hdr-lang-cntlr{
		margin-left: 25px;
	}
	.right-angle{
		border-right-width: 300px;
	}
	nav.main-nav > ul{
		margin: 0 -12px;
	}
	nav.main-nav > ul > li{
		padding: 0 12px;
	}
	.hdr-lang ul{
		margin: 0 -10px;
	}
	.hdr-lang ul li{
		padding: 0 10px;
	}
	nav.main-nav > ul > li > a{
		font-size: 18px;
	}
	nav.main-nav > ul > li.hdr-menu-btn > a{
		font-size: 18px;
	}
	.hdr-lang ul li a{
		font-size: 18px;
	}
	.page-left-sqr-fixed {
	    width: 120px;
	}
	.page-left-angle-fixed{
		left: 120px;
		border-left-width: 50px;
	}
}
@media(max-width: 767px){
	.header-inr{
		padding-top: 35px;
		padding-bottom: 30px;
	}
	.hdr-lft{
		margin-left: auto;
		transform: translateX(23px);
		-ms-transform: translateX(23px);
		-webkit-transform: translateX(23px);
		-o-transform: translateX(23px);
	}
	.logo a img{
		max-height: 95px;
	}
	.left-angle{
		width: 70px;
	}
	.right-angle{
		border-right: 184px solid rgba(218, 236, 224, 0.34);
		border-top: 152px solid transparent;
		bottom: -35px;
		top: initial;
		height: 152px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
		position: static;
		z-index: 15;
		width: 100%;
		padding: 25px 0 0 10px;
		transition: initial;
		transform: initial;
		opacity: 1;
		box-shadow: none;
		display: none;
		background: transparent!important;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
		border-bottom: 0;
		padding-left: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 20px!important;
		font-weight: 700!important;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after{
		content: none;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:after{
		font-size: 24px;
		top: 2px;
	}
	nav.main-nav > ul > li.menu-item-has-children:hover > a:after{
		transform: initial;
		-ms-transform: initial;
		-webkit-transform: initial;
		-o-transform: initial;
	}
	nav.main-nav > ul > li.menu-item-has-children.this-sub-menu-active a:after{
		transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 17px;
	}
	nav.main-nav > ul > li.menu-item-has-children > a {
		/*padding-right: 25px;*/
	}
	nav.main-nav > ul{
		display: block;
		margin: 0;
	}
	nav.main-nav > ul > li{
		padding: 20px 0;
		text-align: center;
	}
	nav.main-nav > ul > li > a{
		font-size: 24px;
		padding-bottom: 0;
		font-weight: 700;
		color: #4C5D5B;
		position: relative;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:after {
		font-size: 24px;
		top: 2px;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:after {
		position: absolute;
		content: "\f107"!important;
		color: #4C5D5B;
		top: 4px;
		right: -25px;
		font-family: 'FontAwesome';
		font-size: 24px;
		line-height: 16px;
		display: inline-block;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.hdr-lang-cntlr{
		margin-left: 0;
		margin-bottom: 25px;
		padding-top: 25px;
		position: relative;
	}
	.hdr-lang-cntlr:after{
		position: absolute;
		content: "";
		width: 158px;
		height: 4px;
		background: #F5F9F6;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	}
	.hdr-lang ul{
		padding-top: 0;
		justify-content: center;
		margin: 0 -19px;
	}
	.hdr-lang ul li{
		padding: 0 19px;
	}
	.hdr-lang ul li a{
		font-size: 24px;
	}
	.xs-mbl-btn .fl-green-btn{
		max-width: 100%;
	}


	.sticky-header-cntlr .header-inr {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.sticky-header-cntlr .hamburger-cntlr {
	    margin-top: -3px;
	}
}
@media(max-width: 639px){
	
}
@media(max-width: 575px){
	.logo a img{
		
	}
	.left-angle{
		width: 70px;
	}
	.hamburger-icon-wrap{
		width: 45px;
		height: 43px;
	}
}

