.home-messege{
	background: #4C5D5B;
	padding: 20px 0;
}
.home-messege-inr{
	text-align: center;
}
.home-messege-inr p{
	margin-bottom: 0;
	color: #fff;
}


body.home{
	background: #FEFEFE;
}

.wf-bio-plant-sec{
	padding: 120px 0;
	position: relative;
}
.wf-bio-plant-sec:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5px;
	background: #F5F9F6;
	width: 64%;
}

.wf-bio-plant-sec-inr{
	display: flex;
	align-items: center;
}
.wf-bio-plant-lft{
	width: 57%;
}

.wf-bio-plant-rgt{
	width: 43%;
	padding-left: 50px;
}


.wf-bio-plant-des-title{
	margin-bottom: 35px;
	font-size: 42px;
}
.wf-bio-plant-des-title a{
	color: #4C5D5B;
}
.wf-bio-plant-des-title a:hover{
	color: #D29500;
	letter-spacing: inherit;
}

.wf-bio-plant-lft-img{
	overflow: hidden;
}
.wf-bio-plant-lft-img a{
	display: inline-block;
	vertical-align: baseline;
}





.wf-recente-update-sec{
	padding: 110px 0 0;
}

.wf-recente-update-hdr-ctlr{
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}
.wf-recente-update-hdr-lft{
	padding-right: 20px;
	width: 50%;
}
.wf-recente-update-hdr-rgt{
	width: 50%;
	text-align: right;
}
.wf-recente-hdr-title{
	margin-bottom: 0;
	font-size: 40px;
}
.wf-recente-update-btn .fl-coffee-btn{
	max-width: 275px;
}


.wf-nieuws-grds ul li{
	padding-bottom: 60px;
}

.wf-nieuws-grd-item{
	display: flex;
	align-items: center;
}

.wf-nieuws-grd-item-lft{
	width: 50%;
}
.wf-nieuws-grd-item-rgt{
	width: 50%;
	padding-left: 60px;
}

.wf-nieuws-grd-item-lft-inr{
	padding-left: 130px;
	position: relative;
}

.wf-nieuws-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.wf-nieuws-grd-item-img{
	height: 275px;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.wf-nieuws-grd-item-img-ctlr img{
	display: none;
}
.wf-nieuws-grd-item:hover .wf-nieuws-grd-item-img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.niuews-date{
	position: absolute;
	top: 35px;
	left: 0;
}

.niuews-date span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 28px;
	line-height: 1;
	color: #36D56B;
	letter-spacing: -0.02em;
}



.wf-niuews-grd-item-title{
	margin-bottom: 28px;
	font-size: 32px;
	font-weight: 500;
}
.wf-niuews-grd-item-title a{
	color: #4C5D5B;
}

.wf-niuews-grd-item-title a:hover{
	color: #36D56B;
	letter-spacing: inherit;
}


.wf-cta-sec{
	padding-top: 50px;
}

.cta-module-ctlr{
	padding-left: 30px;
	position: relative;
}

.cta-module-border{
	position: absolute;
	top: -30px;
	left: 0;
	right: 30px;
	height: 100%;
	border: 1px solid #BBDDC3;
	z-index: 2;
}

.cta-module{
	margin-bottom: 60px;
	padding: 90px 40px;
	background: #F5F9F6;
}
.cta-module-inr{
	display: flex;
	align-items: center;
	position: relative;
	z-index: 3;
}

.cta-module-lft{
	padding-right: 20px;
	width: 32%;
}
.cta-module-mid{
	width: 47%;
	padding-right: 20px;
}
.cta-module-rgt{
	width: 21%;
	text-align: center;
}

.cta-module-title{
	font-size: 40px;
	margin-bottom: 0;
}
.cta-module-mid p:last-child{
	margin-bottom: 0;
}

.wf-client-sec{
	padding-top: 60px;
	padding-bottom: 80px;
}

.wf-sec-entry-hdr{
	max-width: 650px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 10px;
}

.wf-client-sec .wf-sec-entry-hdr-title{
	font-size: 40px;
}

.wf-client-grds ul{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.wf-client-grds ul li{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}

.wf-client-grd-item{
	height: 87px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wf-client-grds ul li a{
	height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wf-client-grds ul li a:hover img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.wf-client-grd-item img{
	max-height: 87px;
	width: auto;
}


@media(max-width: 1199px){
	.wf-bio-plant-sec {
	    padding: 90px 0;
	}
	.wf-recente-update-sec {
	    padding: 90px 0 0;
	}
	.cta-module{
		padding: 75px 30px;
		margin-bottom: 40px;
	}
	.cta-module-border{
		right: 25px;
	}
	.cta-module-title{
	    font-size: 36px!important;
	}
	.wf-client-sec{
		padding-bottom: 60px;
		padding-top: 50px;
	}
}

@media(max-width: 991px){
	.wf-bio-plant-sec {
	    padding: 70px 0;
	}
	.wf-bio-plant-lft {
	    width: 50%;
	}
	.wf-bio-plant-rgt {
	    width: 50%;
	    padding-left: 30px;
	}
	.wf-bio-plant-des-title {
	    margin-bottom: 20px;
	}
	.wf-recente-update-sec {
	    padding: 70px 0 0;
	}
	.wf-recente-update-hdr-ctlr {
	    margin-bottom: 35px;
	}
	.wf-nieuws-grd-item-lft-inr {
	    padding-left: 80px;
	}
	.niuews-date span{
		font-size: 20px;
	}
	.wf-nieuws-grd-item-rgt {
	    padding-left: 30px;
	}
	.wf-niuews-grd-item-title {
	    margin-bottom: 22px;
	    font-size: 30px!important;
	}
	.cta-module-inr{
		display: block;
	}
	.cta-module-lft{
		padding-right: 0;
	    width: 100%;
	    padding-bottom: 22px;
	}
	.cta-module-mid{
		padding-right: 0;
	    width: 100%;
	    padding-bottom: 25px;
	}
	.cta-module-rgt {
	    width: 100%;
	    text-align: left;
	}
	.cta-module {
	    padding: 60px 30px;
	    margin-bottom: 30px;
	}
	.wf-client-sec {
	    padding-bottom: 40px;
	}
	.cta-module-title {
	    font-size: 33px!important;
	}
}

@media(max-width: 767px){
	.wf-bio-plant-sec {
	    padding: 50px 0;
	}
	.wf-bio-plant-sec-inr {
	    display: block;
	}
	.wf-bio-plant-lft {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.wf-bio-plant-rgt {
	    width: 100%;
	    padding-left: 0;
	}
	.wf-recente-update-hdr-ctlr{
		display: block;
		margin-bottom: 28px;
	}
	.wf-recente-update-hdr-lft {
	    padding-right: 0;
	    width: 100%;
	}
	.wf-nieuws-grd-item {
	    display: block;
	}
	.wf-nieuws-grd-item-lft {
	    width: 100%;
	}
	.wf-nieuws-grd-item-lft-inr {
	    padding-left: 0;
	}
	.niuews-date{
		position: static;
	}
	.wf-nieuws-grd-item-rgt {
	    padding-left: 0;
	    width: 100%;
	}
	.wf-nieuws-grd-item-img-ctlr{
		margin-bottom: 45px;
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.wf-cta-sec {
	    padding-top: 90px;
	}
	.cta-module-ctlr {
	    padding-left: 20px;
	}
	.cta-module-border {
	    right: 20px;
	    top: -20px;
	}
	.cta-module {
	    padding: 35px 40px 60px 25px;
	    margin-bottom: 30px;
	}
	.wf-client-sec {
	    padding-bottom: 30px;
	    padding-top: 30px;
	}
	.wf-bio-plant-lft-img-ctlr{
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.niuews-date{
		padding-bottom: 25px;
	}
	.cta-module-title {
	    font-size: 30px!important;
	}
	.wf-bio-plant-rgt-des{
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.wf-recente-update-hdr-ctlr,
	.niuews-date,
	.wf-nieuws-grd-item-des,
	.wf-recente-update-btn{
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.wf-bio-plant-rgt-des a{
		font-size: 16px;
	}
	.niuews-date span {
	    font-size: 30px;
	}
	.wf-nieuws-grds ul li {
	    padding-bottom: 45px;
	}
	.wf-nieuws-grd-item-des a{
		font-size: 20px;
	}
}

@media(max-width: 575px){
	.wf-bio-plant-sec {
	    padding: 35px 0 50px;
	}
	.wf-recente-update-sec {
	    padding: 48px 0 0;
	}
	.cta-module-title {
	    font-size: 28px!important;
	}
}

@media(max-width: 479px){
	.wf-bio-plant-sec:after{
		width: 268px;
	}
	.wf-recente-update-btn .fl-coffee-btn{
		max-width: 100%;
	}
	.wf-client-grds ul {
	    margin-left: -12px;
	    margin-right: -12px;
	}
	.wf-client-grds ul li {
	    padding-left: 12px;
	    padding-right: 12px;
	    padding-bottom: 20px;
	}
	.wf-client-grd-item img {
	    max-height: initial;
	    height: auto;
	    max-width: 128px;
	    width: 100%;
	}
}

