.hm-banner {
    position: relative;
}
.bnr-vdo {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#bt-vdo {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 4;
    display: none;
}
.has-vdo #bt-vdo{
    display: block;
}
.has-vdo .hm-bnr-bg{
    display: none;
}
.hm-banner-bg-black {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #000;
}
.hm-bnr-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.hm-bnr-cntlr {
    position: relative;
    z-index: 7;
    height: 720px;
    display: flex;
    align-items: center;
}
.hm-bnr-desc-cntlr{
    max-width: 500px;
    width: 100%;
}
.hm-bnr-title{
    color: #fff;
    line-height: 1.1;
    margin-bottom: 25px;
}

.hm-bnr-desc p{
    color: #fff;
    margin-bottom: 30px;
}
.hm-bnr-desc p:last-child{
    margin-bottom: 25px;
}





@media(max-width: 767px){
    .hm-bnr-cntlr {
        min-height: 450px;
        height: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .hm-bnr-desc p {
        margin-bottom: 25px;
    }
}