

.wf-bio-plant-sec{
	padding: 120px 0;
}

.wf-bio-plant-sec-inr{
	display: flex;
	align-items: center;
}
.wf-bio-plant-lft{
	width: 60%;
}

.wf-bio-plant-rgt{
	width: 40%;
	padding-left: 40px;
}


.wf-bio-plant-des-title{
	margin-bottom: 35px;
	font-size: 45px;
}