.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active,
.slick-slider .slick-dots li:hover{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}

.slick-dots li:only-child{ 
	display: none; 
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}


body::-webkit-scrollbar {
  width: 12px; 
}

body::-webkit-scrollbar-track {
  background: #36D56B;        
}

body::-webkit-scrollbar-thumb {
  background-color: #D29500;    
  border-radius: 2px;       
  border: 2px solid #D29500;  
}


/*breadcum*/
.breadcrumb-sec {
    margin-bottom: 60px;
}
.breadcrumb-cntlr{
	overflow: hidden;
}
.breadcrumb-cntlr ul {
    display: flex;
    align-items: center;
    margin: 0 -25px;
}
.breadcrumb-cntlr ul li {
    padding: 0 25px;
    position: relative;
}
.breadcrumb-cntlr ul li:after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    height: 6px;
    width: 12px;
    margin-top: 2px;
    background-size: contain;
    background-image: url(../images/right-arrow.svg);
    background-repeat: no-repeat!important;
}
.breadcrumb-cntlr ul li:first-child:after{
	display: none;
}
.breadcrumb-cntlr ul li a {
    position: relative;
}
.breadcrumb-cntlr ul li.home a,
.breadcrumb-cntlr ul li:first-child a{
	padding-left: 30px;
}
.breadcrumb-cntlr ul li.home a:after,
.breadcrumb-cntlr ul li:first-child a:after{
	position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 18px;
    width: 18px;
    margin-top: -1px;
    background-size: contain;
    background-image: url(../images/home-icon.svg);
    background-repeat: no-repeat!important;
}
.breadcrumb-cntlr ul li a, 
.breadcrumb-cntlr ul li span, 
.breadcrumb-cntlr ul li a span {
	display: inline-block;
	vertical-align: baseline;
	font-weight: 500;
	font-size: 14px;
	text-transform: capitalize;
	line-height: 1;
	letter-spacing: -0.02em;
	color: #4C5D5B;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.breadcrumb-cntlr ul li a:hover, 
.breadcrumb-cntlr ul li span:hover, 
.breadcrumb-cntlr ul li a span:hover {
    color: #36D56B;
}


/*page entry hdr*/

.page-entry-hdr-sec{
	padding-bottom: 45px;
	position: relative;
}
.page-entry-hdr-sec:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 5px;
    background: #F5F9F6;
    width: 68%;
}
.page-entry-hdr{
	max-width: 860px;
	width: 100%;
}

.page-entry-hdr-title{
	margin-bottom: 38px;
	text-transform: capitalize;
}

.page-entry-hdr ul{
	display: flex;
	align-items: center;
	margin-left: -23px;
	margin-right: -23px;
}
.page-entry-hdr ul li{
	padding-left: 23px;
	padding-right: 23px;
	padding-bottom: 10px;
}
.page-entry-hdr ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #4C5D5B;
	letter-spacing: -0.02em;
	font-weight: 700;
	text-transform: capitalize;
}
.page-entry-hdr ul li.active a,
.page-entry-hdr ul li a:hover{
	color: #36D56B;
}


/*pagination*/

.fl-pagination-ctlr{
	position: relative;
}
.fl-pagination-ctlr ul{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 -15px;
	position: relative;
}
.fl-pagination-ctlr ul li{
	padding: 0 15px!important;
	line-height: 1.3;
	position: initial;
}

.fl-pagination-ctlr ul li a.next{
	position: absolute;
	right: 15px;
	top: 0;
	padding-right: 20px;
}
.fl-pagination-ctlr ul li a.next i{
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.fl-pagination-ctlr ul li a.prev{
	position: absolute;
	left: 15px;
	top: 0;
	padding-left: 20px;
}
.fl-pagination-ctlr ul li a.prev i{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


.fl-pagination-ctlr ul li a,
.fl-pagination-ctlr ul li span{
	font-weight: 400;
	color: #4C5D5B;
	line-height: 1;
}
.fl-pagination-ctlr ul li span.current,
.fl-pagination-ctlr ul li a:hover{
	color: #36D56B;
}
.fl-pagination-ctlr ul li a:hover svg{
	fill: #36D56B;
}



@media(max-width: 1199px){
	.breadcrumb-sec {
	    margin-bottom: 50px;
	}
	.page-entry-hdr-sec {
	    padding-bottom: 40px;
	}
	.page-entry-hdr-title {
	    margin-bottom: 32px;
	}
	
}
@media(max-width: 991px){
	.breadcrumb-sec {
	    margin-bottom: 40px;
	}
	.page-entry-hdr-sec {
	    padding-bottom: 30px;
	}
	.page-entry-hdr-title {
	    margin-bottom: 25px;
	}
	
}
@media(max-width: 767px){
	.page-entry-hdr-sec {
	    padding-bottom: 0;
	    padding-top: 40px;
	}
	.page-entry-hdr-sec:after{
		bottom: initial;
		top: 0;
	}
	.page-entry-hdr-title {
	    margin-bottom: 15px;
	}
	
}
@media(max-width: 575px){

}