.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 42px!important;
	height: 8px!important;
	position: static;
	background: #DADADA!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active,
.slick-slider .slick-dots li:hover{
	background: #36D56B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 42px;
	height: 8px;
}

.slick-dots li:only-child{ 
	display: none; 
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}


body::-webkit-scrollbar {
  width: 12px; 
}

body::-webkit-scrollbar-track {
  background: #36D56B;        
}

body::-webkit-scrollbar-thumb {
  background-color: #D29500;    
  border-radius: 2px;       
  border: 2px solid #D29500;  
}


/*breadcum*/
.breadcrumb-sec {
    margin-bottom: 60px;
}
.breadcrumb-cntlr{
	overflow: hidden;
}
.breadcrumb-cntlr ul {
    display: flex;
    align-items: center;
    margin: 0 -25px;
}
.breadcrumb-cntlr ul li {
    padding: 0 25px;
    position: relative;
}
.breadcrumb-cntlr ul li:after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    height: 6px;
    width: 12px;
    margin-top: 2px;
    background-size: contain;
    background-image: url(../images/right-arrow.svg);
    background-repeat: no-repeat!important;
}
.breadcrumb-cntlr ul li:first-child:after{
	display: none;
}
.breadcrumb-cntlr ul li a {
    position: relative;
}
.breadcrumb-cntlr ul li.home a,
.breadcrumb-cntlr ul li:first-child a{
	padding-left: 30px;
}
.breadcrumb-cntlr ul li.home a:after,
.breadcrumb-cntlr ul li:first-child a:after{
	position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 18px;
    width: 18px;
    margin-top: -1px;
    background-size: contain;
    background-image: url(../images/home-icon.svg);
    background-repeat: no-repeat!important;
}
.breadcrumb-cntlr ul li a, 
.breadcrumb-cntlr ul li span, 
.breadcrumb-cntlr ul li a span {
	display: inline-block;
	vertical-align: baseline;
	font-weight: 500;
	font-size: 14px;
	text-transform: capitalize;
	line-height: 1;
	letter-spacing: -0.02em;
	color: #4C5D5B;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.breadcrumb-cntlr ul li a:hover, 
.breadcrumb-cntlr ul li span:hover, 
.breadcrumb-cntlr ul li a span:hover {
    color: #36D56B;
}


/*page entry hdr*/

.page-entry-hdr-sec{
	padding-bottom: 45px;
	position: relative;
}
.page-entry-hdr-sec:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 5px;
    background: #F5F9F6;
    width: 68%;
}
.page-entry-hdr{
	max-width: 860px;
	width: 100%;
}

.page-entry-hdr-title{
	margin-bottom: 38px;
	text-transform: capitalize;
}

.page-entry-hdr-grds ul{
	display: flex;
	align-items: center;
	margin-left: -23px;
	margin-right: -23px;
}
.page-entry-hdr-grds ul li{
	padding-left: 23px;
	padding-right: 23px;
	padding-bottom: 10px;
}
.page-entry-hdr-grds ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #4C5D5B;
	letter-spacing: -0.02em;
	font-weight: 700;
	text-transform: capitalize;
	text-decoration: none;
}
.page-entry-hdr-grds ul li.active a,
.page-entry-hdr-grds ul li a:hover{
	color: #36D56B;
}


/*pagination*/

.fl-pagination-ctlr{
	position: relative;
}
.fl-pagination-ctlr ul{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 -15px;
	position: relative;
}
.fl-pagination-ctlr ul li{
	padding: 0 15px!important;
	line-height: 1.3;
	position: initial;
}

.fl-pagination-ctlr ul li a.next{
	position: absolute;
	right: 15px;
	top: 0;
	padding-right: 20px;
}
.fl-pagination-ctlr ul li a.next i{
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.fl-pagination-ctlr ul li a.prev{
	position: absolute;
	left: 15px;
	top: 0;
	padding-left: 20px;
}
.fl-pagination-ctlr ul li a.prev i{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -1px;
}


.fl-pagination-ctlr ul li a,
.fl-pagination-ctlr ul li span{
	font-weight: 400;
	color: #4C5D5B;
	line-height: 1;
	text-decoration: none;
}
.fl-pagination-ctlr ul li span.current{
	color: #36D56B;
	font-weight: 700;
}
.fl-pagination-ctlr ul li a:hover{
	color: #36D56B;
}
.fl-pagination-ctlr ul li a:hover svg{
	fill: #36D56B;
}


/*select-2*/
.hm-select-down-icon{
    position: relative;
    border: 1px solid #CCE1D1;
}
/*.hm-select-down-icon:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url('../images/car.jpg');
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    height: 22px;
    width: 44px;
}*/
.hm-select-down-icon:after{
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: url('../images/select-icon.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 8px;
    z-index: 9;
}
.hm-select-down-icon option{
    background: #ff9140;
    color: #fff;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hm-select-down-icon option:hover,
.hm-select-down-icon option[selected]{
    background: #dc7223!important;
}
.select2-container--default .select2-selection--single{
    border-radius: 0!important;
    height: 48px!important;
    border-color: #cecece!important;
    border: none!important;
}
.select2-search--dropdown{
    padding: 0!important;
}
body .select2-container.select2-container--default.select2-container--open .select2-dropdown {
    margin-top: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default .select2-selection--single .select2-selection__arrow{
    display: none!important;
}

body .select2-dropdown {
    margin: 0;
    border: none!important;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0 0px;
    background: #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 84px rgb(44 17 62 / 9%);
    border-radius: 3px;
}
.hm-select .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #36D56B;
    font-size: 16px;
    height: 100%;
    font-weight: 700;
    border: 1px solid #CCE1D1;
    padding-top: 18px!important;
    padding-left: 12px!important;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hm-select-down-icon .select2-container--default .select2-selection--single .select2-selection__rendered{
    color:#36D56B!important;
    opacity:1;
    border: none;
    font-size: 16px;
    padding: 10px 35px 10px 9px;
    position: relative;
    z-index: 2;
}
.hm-select-down-icon .select2-container--default .select2-selection--single .select2-selection__rendered:after{
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	background: #F5F9F6;
	height: 100%;
	width: 100%;
	z-index: -1;
}
.select2-container--default .select2-search--dropdown .select2-search__field, 
.bootstrap-select .dropdown-menu .bs-searchbox input {
    border: 1px solid #cecece!important;
    padding: 4px 15px;
    font-size:  14px;
}
ul.select2-results__options li {
    padding: 10px 10px!important;
    background: #36D56B!important;
    font-size: 14px;
}
ul.select2-results__options li:before{
    content: none;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #FFA800!important;
    color: #fff!important;
}
.select2-container--open .select2-dropdown{
    top: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], 
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #4C5D5B!important;
    color: #fff!important;
}


select.select-2-cntlr.select2-hidden-accessible.hm-bnr-custom-select {
    width: 100%!important;
}
span.select2.select2-container.select2-container--default {
    width: 100%!important;
}
.select2-results__option.select2-results__option--selectable.select2-results__option--highlighted:before{
    content: none;
}
.select2-results__options .select2-results__option--disabled{
    color: #fff;
}

.select2-container--open .selection .select2-selection--single .select2-selection__rendered{
    border-color: #282526!important;
}

/*select-2*/


@media(max-width: 1699px){
	.page-entry-hdr-sec:after{
		width: 63%;
	}
}

@media(max-width: 1199px){
	.breadcrumb-sec {
	    margin-bottom: 50px;
	}
	.page-entry-hdr-sec {
	    padding-bottom: 40px;
	}
	.page-entry-hdr-title {
	    margin-bottom: 32px;
	}
	
}
@media(max-width: 991px){
	.breadcrumb-sec {
	    margin-bottom: 40px;
	}
	.page-entry-hdr-sec {
	    padding-bottom: 30px;
	}
	.page-entry-hdr-title {
	    margin-bottom: 25px;
	}
	
}
@media(max-width: 767px){
	.page-entry-hdr-sec {
	    padding-bottom: 0;
	    padding-top: 40px;
	}
	.page-entry-hdr-sec:after{
		bottom: initial;
		top: 0;
	}
	.page-entry-hdr-title {
	    margin-bottom: 20px;
	}
	.fl-pagination-ctlr ul li a.prev i{
		margin-top: 10px;
	}
	.fl-pagination-ctlr ul li a.next i{
		margin-top: 10px;
	}
	.page-entry-hdr ul li{
		display: none;
	}
	.page-entry-hdr ul li.active{
		display: block;
	}
	
}
@media(max-width: 575px){

}