.publicaties-grid-cntlr{
	display: flex;
	flex-wrap: wrap;
	padding-top: 74px;
}
.publicaties-grid-col{
	width: 50%;
	padding-right: 33px;
	padding-bottom: 86px;
}
.cat-grd-hdr-title{
	color: #D29500;
	margin-bottom: 36px;
}
.cat-grid-list-item{
	display: flex;
	align-items: center;
	position: relative;
}
.cat-grd-list ul{
	display: flex;
	flex-wrap: wrap;
}
.cat-grd-list ul li{
	padding-bottom: 33px;
}
.cat-grid-list-item i{
	max-width: 88px;
    width: 100%;
}
.cat-grid-list-item  i img{
	max-width: 50px;
	height: auto;
}
.cat-grid-list-item p{
	font-family: Tajawal;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.02em;
	color: #4C5D5B;
	margin-bottom: 0;
}
.cat-grid-list-item:hover p{
	color: green;
	transition: all 0.5s;
}

/*Responsive start*/
@media(max-width: 1600px){
	.publicaties-grid-col{
		padding-right: 22px;
	}
	.cat-grid-list-item p{
		font-size: 22px;
	}
}

@media(max-width: 991px){
	.publicaties-grid-cntlr{
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
	}
	.cat-grid-list-item p{
		font-size: 20px;
		line-height: 20px;
	}
}
@media(max-width: 767px){
.publicaties-grid-col{
		width: 100%;
		padding-right: 0;
	}
	.publicaties-grid-cntlr{
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}
	.cat-grid-list-item p{
		font-size: 18px;
		line-height: 22px;
	}
}


/*Responsive end*/