.publicaties-grid-cntlr{
	display: flex;
	flex-wrap: wrap;
	padding-top: 74px;
}
.publicaties-grid-col{
	width: 50%;
	padding-right: 33px;
	padding-bottom: 86px;
}
.cat-grd-hdr > h2{
	color: #D29500;
	font-family: Tajawal;
	font-style: normal;
	font-weight: bold;
	line-height: 36px;
	letter-spacing: -0.02em;
}
.cat-grid-list-item{
	display: flex;
	/*align-items: center;*/
	position: relative;
}
.cat-grd-list ul{
	display: flex;
	flex-wrap: wrap;
}
.cat-grd-list ul li{
	padding: 16px 0;
}
.cat-grid-list-item i{
	max-width: 88px;
    width: 100%;
}
.cat-grid-list-item  i img{
	max-width: 50px;
	height: auto;
}
.cat-grid-list-item p{

}
.cat-grid-list-item p{
	font-family: Tajawal;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.02em;
	color: #4C5D5B;
}
/*Responsive start*/

@media(max-width: 767px){
.publicaties-grid-col{
		width: 100%;
		padding-right: 0;
	}
	.publicaties-cntlr{
		max-width: 530px;
		width: 100%;
		margin: 0 auto;
	}
}
@media(max-width: 991px){
	.publicaties-grid-cntlr{
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
	}
}

/*Responsive end*/