/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1.1;	
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 700;
	color: #4C5D5B;
	letter-spacing: -0.02em;
}
h1,.fl-h1{
	font-size: 60px;
}
h2,.fl-h2{
	font-size: 46px;
}
h3,.fl-h3{
	font-size: 36px;
}
h4,.fl-h4{
	font-size: 30px;
}
h5,.fl-h5{
	font-size: 23px;
}
h6,.fl-h6{
	font-size: 19px;
}
